@charset "utf-8";

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    color: dimgray;
    margin-top: 3em;
}

h4 {
    font-size: 1.1em;
    color: #669966;
    margin-top: 3em;
}

a {
    font-size: 1.15em;
}

span {
    font-size: 1.3em;
}

table {
    background-color: #FFFFCC;
}

th {
    background-color: #FFFF33;
}

input[type="button"] {
    border: 1px solid #0000EE;
    border-radius: 4px;
    background: linear-gradient(0deg, #EEFFFF, #FFFFFF);
    color: darkslategrey;
    margin-bottom: 3em;
}

.start {
    text-decoration: underline double green;
}


.last {
    margin-top: 3em;
    margin-bottom: 4em;
}
